/* Typography */
body {
    /* Everything is Raleway */
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* Except we're using more specific rules to override the headlines */
  h1, h2, h3, h4, h5, h6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  /* And the "logo" */
  .navbar-brand {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        font-size: 0px;
  }
  .navbar-brand img {
    width: 150px;
    height: 150px;
  }
  .navbar-light .navbar-brand {
    color: green;
  }
  
  /* Navbar background color */
  .navbar {
    background-color :white;
  }
  
  /* Jumbotron background and font styles */
  /* Notice that I'm using all of the background CSS rules on the CSS cheat sheet */
  .jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(brewery.jpg); 
    size="550px";
    background-size: cover;

    /* Fonts */
    /* The text-shadow helps the white text stand out better on a darker background */
    color: white; 
            text-shadow: 25px 25px 25px black;
  }
  
  /* The background color of the "team" part */
  .Team {
    background-color: white;
  }
  
  /* The size of the team images */
  .media img {
    width: 300px;
    height: 300px;
  }
  
  /* The pricing */
  .pricing {
    background-color: white;
  }
  .pricing h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
  }
  
  /* The footer */
    .footer img {
    width: 275px;
  }

.footer {
  color: black;
}

<style>
    .carousel-inner > .item > img,
    .carousel-inner > .item > a > img {
      width: 20%;
      margin: auto;
    }
    </style>

